* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(35, 34, 37);
}

.container {
  border-radius: 15px;
  padding: 0;
  background: #222831;
  height: 700px;
  width: 90%;
  margin-top: 2%;
  margin-left: 5%;
}

.header {
  padding-top: 20px;
  width: 100%;
  height: 60px;
  border-radius: 12px 12px 0px 0px;
  background: #00adb5;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
  margin-left: 60%;
}

.title-1 {
  color: aliceblue;
  font-family: "Fredoka", sans-serif;
  margin-left: 20px;
}

.cont {
  width: 90%;
  height: 72%;
  margin-top: 30px;
  margin-left: 5%;
}

li {
  list-style: none;
  font-family: "Fredoka", sans-serif;
  margin-top: 30px;
  font-size: 20px;
  color: #fff;
  border-bottom: solid #fff 1px;
}

.btn-plus {
  margin-top: 90%;
  margin-left: 80%;
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #00adb5;
}

.foot {
  width: 100%;
  height: 60px;
  border-radius: 0px 0px 12px 12px;
  background: #00adb5;
}

.foot-1 {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  grid-area: 1 / 1 / 2 / 2;
}
.foot-2 {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  grid-area: 1 / 2 / 2 / 3;
}
